In [ ]:
import pandas as pd

In [3]:
import pandas as pd

data = pd.read_csv('owid-covid-data.csv')
print(data)

      iso_code continent     location        date  total_cases  new_cases  \
0          AFG      Asia  Afghanistan  2020-01-05            0          0
1          AFG      Asia  Afghanistan  2020-01-06            0          0
2          AFG      Asia  Afghanistan  2020-01-07            0          0
3          AFG      Asia  Afghanistan  2020-01-08            0          0
4          AFG      Asia  Afghanistan  2020-01-09            0          0
...        ...       ...          ...         ...          ...        ...
2241  OWID_AFR       NaN       Africa  2021-07-25      6511749     246602
2242  OWID_AFR       NaN       Africa  2021-07-26      6511749          0
2243  OWID_AFR       NaN       Africa  2021-07-27      6511749          0
2244  OWID_AFR       NaN       Africa  2021-07-28      6511749          0
2245  OWID_AFR       NaN       Africa  2021-07-29      6511749          0

      new_cases_smoothed  total_deaths  new_deaths  new_deaths_smoothed  ...  \
0                    NaN             0           0                  NaN  ...
1                    NaN             0           0                  NaN  ...
2                    NaN             0           0                  NaN  ...
3                    NaN             0           0                  NaN  ...
4                    NaN             0           0                  NaN  ...
...                  ...           ...         ...                  ...  ...
2241           35228.857        164544        6483              926.143  ...
2242           35228.857        164544           0              926.143  ...
2243           35228.857        164544           0              926.143  ...
2244           35228.857        164544           0              926.143  ...
2245           35228.857        164544           0              926.143  ...

      male_smokers  handwashing_facilities  hospital_beds_per_thousand  \
0              NaN                  37.746                         0.5
1              NaN                  37.746                         0.5
2              NaN                  37.746                         0.5
3              NaN                  37.746                         0.5
4              NaN                  37.746                         0.5
...            ...                     ...                         ...
2241           NaN                     NaN                         NaN
2242           NaN                     NaN                         NaN
2243           NaN                     NaN                         NaN
2244           NaN                     NaN                         NaN
2245           NaN                     NaN                         NaN

      life_expectancy  human_development_index    population  \
0               64.83                    0.511  4.112877e+07
1               64.83                    0.511  4.112877e+07
2               64.83                    0.511  4.112877e+07
3               64.83                    0.511  4.112877e+07
4               64.83                    0.511  4.112877e+07
...               ...                      ...           ...
2241              NaN                      NaN  1.426737e+09
2242              NaN                      NaN  1.426737e+09
2243              NaN                      NaN  1.426737e+09
2244              NaN                      NaN  1.426737e+09
2245              NaN                      NaN           NaN

      excess_mortality_cumulative_absolute  excess_mortality_cumulative  \
0                                      NaN                          NaN
1                                      NaN                          NaN
2                                      NaN                          NaN
3                                      NaN                          NaN
4                                      NaN                          NaN
...                                    ...                          ...
2241                                   NaN                          NaN
2242                                   NaN                          NaN
2243                                   NaN                          NaN
2244                                   NaN                          NaN
2245                                   NaN                          NaN

      excess_mortality  excess_mortality_cumulative_per_million
0                  NaN                                      NaN
1                  NaN                                      NaN
2                  NaN                                      NaN
3                  NaN                                      NaN
4                  NaN                                      NaN
...                ...                                      ...
2241               NaN                                      NaN
2242               NaN                                      NaN
2243               NaN                                      NaN
2244               NaN                                      NaN
2245               NaN                                      NaN

[2246 rows x 67 columns]

In [4]:
data.describe()

,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,total_cases_per_million,new_cases_per_million,new_cases_smoothed_per_million,total_deaths_per_million,...,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,population,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
count,2.246000e+03,2246.000000,2236.000000,2246.000000,2246.000000,2236.000000,2246.000000,2246.000000,2236.000000,2246.000000,...,0.0,1.674000e+03,1674.0,1.674000e+03,1.674000e+03,2.245000e+03,0.0,0.0,0.0,0.0
mean,6.518893e+05,3004.380232,2986.306025,18223.851736,76.823241,76.338440,3074.019268,4.585657,4.584401,113.724732,...,NaN,3.774600e+01,0.5,6.483000e+01,5.110000e-01,3.935484e+08,NaN,NaN,NaN,NaN
std,1.315386e+06,19637.403277,6826.373053,33638.605784,489.726287,169.306028,2094.289723,21.206858,6.782081,80.185105,...,NaN,6.965400e-13,0.0,1.464155e-12,6.774384e-15,6.035545e+08,NaN,NaN,NaN,NaN
min,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,NaN,3.774600e+01,0.5,6.483000e+01,5.110000e-01,4.112877e+07,NaN,NaN,NaN,NaN
25%,5.598500e+04,0.000000,33.000000,2457.000000,0.000000,0.286000,1004.661000,0.000000,0.760000,34.534000,...,NaN,3.774600e+01,0.5,6.483000e+01,5.110000e-01,4.112877e+07,NaN,NaN,NaN,NaN
50%,1.904350e+05,0.000000,77.786000,7758.000000,0.000000,1.357500,3707.794000,0.000000,1.723500,128.121000,...,NaN,3.774600e+01,0.5,6.483000e+01,5.110000e-01,4.112877e+07,NaN,NaN,NaN,NaN
75%,2.324990e+05,0.000000,634.286000,7983.000000,0.000000,22.143000,5124.665000,0.000000,6.038000,193.574000,...,NaN,3.774600e+01,0.5,6.483000e+01,5.110000e-01,1.426737e+09,NaN,NaN,NaN,NaN
max,6.511749e+06,284171.000000,40595.857000,164544.000000,6483.000000,926.143000,5796.468000,303.459000,43.351000,197.098000,...,NaN,3.774600e+01,0.5,6.483000e+01,5.110000e-01,1.426737e+09,NaN,NaN,NaN,NaN

In [5]:
print(data.head())

  iso_code continent     location        date  total_cases  new_cases  \
0      AFG      Asia  Afghanistan  2020-01-05            0          0
1      AFG      Asia  Afghanistan  2020-01-06            0          0
2      AFG      Asia  Afghanistan  2020-01-07            0          0
3      AFG      Asia  Afghanistan  2020-01-08            0          0
4      AFG      Asia  Afghanistan  2020-01-09            0          0

   new_cases_smoothed  total_deaths  new_deaths  new_deaths_smoothed  ...  \
0                 NaN             0           0                  NaN  ...
1                 NaN             0           0                  NaN  ...
2                 NaN             0           0                  NaN  ...
3                 NaN             0           0                  NaN  ...
4                 NaN             0           0                  NaN  ...

   male_smokers  handwashing_facilities  hospital_beds_per_thousand  \
0           NaN                  37.746                         0.5
1           NaN                  37.746                         0.5
2           NaN                  37.746                         0.5
3           NaN                  37.746                         0.5
4           NaN                  37.746                         0.5

   life_expectancy  human_development_index  population  \
0            64.83                    0.511  41128772.0
1            64.83                    0.511  41128772.0
2            64.83                    0.511  41128772.0
3            64.83                    0.511  41128772.0
4            64.83                    0.511  41128772.0

   excess_mortality_cumulative_absolute  excess_mortality_cumulative  \
0                                   NaN                          NaN
1                                   NaN                          NaN
2                                   NaN                          NaN
3                                   NaN                          NaN
4                                   NaN                          NaN

   excess_mortality  excess_mortality_cumulative_per_million
0               NaN                                      NaN
1               NaN                                      NaN
2               NaN                                      NaN
3               NaN                                      NaN
4               NaN                                      NaN

[5 rows x 67 columns]

In [11]:
data.isnull().sum()

iso_code                                      0
continent                                   572
location                                      0
date                                          0
total_cases                                   0
                                           ...
population                                    1
excess_mortality_cumulative_absolute       2246
excess_mortality_cumulative                2246
excess_mortality                           2246
excess_mortality_cumulative_per_million    2246
Length: 67, dtype: int64

In [14]:
data['new_cases'].value_counts()

new_cases
0         1953
197          3
1679         2
242          2
201          2
          ...
1167         1
1715         1
977          1
435          1
246602       1
Name: count, Length: 277, dtype: int64

In [15]:
data.columns

Index(['iso_code', 'continent', 'location', 'date', 'total_cases', 'new_cases',
       'new_cases_smoothed', 'total_deaths', 'new_deaths',
       'new_deaths_smoothed', 'total_cases_per_million',
       'new_cases_per_million', 'new_cases_smoothed_per_million',
       'total_deaths_per_million', 'new_deaths_per_million',
       'new_deaths_smoothed_per_million', 'reproduction_rate', 'icu_patients',
       'icu_patients_per_million', 'hosp_patients',
       'hosp_patients_per_million', 'weekly_icu_admissions',
       'weekly_icu_admissions_per_million', 'weekly_hosp_admissions',
       'weekly_hosp_admissions_per_million', 'total_tests', 'new_tests',
       'total_tests_per_thousand', 'new_tests_per_thousand',
       'new_tests_smoothed', 'new_tests_smoothed_per_thousand',
       'positive_rate', 'tests_per_case', 'tests_units', 'total_vaccinations',
       'people_vaccinated', 'people_fully_vaccinated', 'total_boosters',
       'new_vaccinations', 'new_vaccinations_smoothed',
       'total_vaccinations_per_hundred', 'people_vaccinated_per_hundred',
       'people_fully_vaccinated_per_hundred', 'total_boosters_per_hundred',
       'new_vaccinations_smoothed_per_million',
       'new_people_vaccinated_smoothed',
       'new_people_vaccinated_smoothed_per_hundred', 'stringency_index',
       'population_density', 'median_age', 'aged_65_older', 'aged_70_older',
       'gdp_per_capita', 'extreme_poverty', 'cardiovasc_death_rate',
       'diabetes_prevalence', 'female_smokers', 'male_smokers',
       'handwashing_facilities', 'hospital_beds_per_thousand',
       'life_expectancy', 'human_development_index', 'population',
       'excess_mortality_cumulative_absolute', 'excess_mortality_cumulative',
       'excess_mortality', 'excess_mortality_cumulative_per_million'],
      dtype='object')

In [40]:
filtered_data = data[data['location'] == 'Africa']
print(filtered_data)

      iso_code continent location        date  total_cases  new_cases  \
1674  OWID_AFR       NaN   Africa  2020-01-05            0          0
1675  OWID_AFR       NaN   Africa  2020-01-06            0          0
1676  OWID_AFR       NaN   Africa  2020-01-07            0          0
1677  OWID_AFR       NaN   Africa  2020-01-08            0          0
1678  OWID_AFR       NaN   Africa  2020-01-09            0          0
...        ...       ...      ...         ...          ...        ...
2241  OWID_AFR       NaN   Africa  2021-07-25      6511749     246602
2242  OWID_AFR       NaN   Africa  2021-07-26      6511749          0
2243  OWID_AFR       NaN   Africa  2021-07-27      6511749          0
2244  OWID_AFR       NaN   Africa  2021-07-28      6511749          0
2245  OWID_AFR       NaN   Africa  2021-07-29      6511749          0

      new_cases_smoothed  total_deaths  new_deaths  new_deaths_smoothed  ...  \
1674                 NaN             0           0                  NaN  ...
1675                 NaN             0           0                  NaN  ...
1676                 NaN             0           0                  NaN  ...
1677                 NaN             0           0                  NaN  ...
1678                 NaN             0           0                  NaN  ...
...                  ...           ...         ...                  ...  ...
2241           35228.857        164544        6483              926.143  ...
2242           35228.857        164544           0              926.143  ...
2243           35228.857        164544           0              926.143  ...
2244           35228.857        164544           0              926.143  ...
2245           35228.857        164544           0              926.143  ...

      male_smokers  handwashing_facilities  hospital_beds_per_thousand  \
1674           NaN                     NaN                         NaN
1675           NaN                     NaN                         NaN
1676           NaN                     NaN                         NaN
1677           NaN                     NaN                         NaN
1678           NaN                     NaN                         NaN
...            ...                     ...                         ...
2241           NaN                     NaN                         NaN
2242           NaN                     NaN                         NaN
2243           NaN                     NaN                         NaN
2244           NaN                     NaN                         NaN
2245           NaN                     NaN                         NaN

      life_expectancy  human_development_index    population  \
1674              NaN                      NaN  1.426737e+09
1675              NaN                      NaN  1.426737e+09
1676              NaN                      NaN  1.426737e+09
1677              NaN                      NaN  1.426737e+09
1678              NaN                      NaN  1.426737e+09
...               ...                      ...           ...
2241              NaN                      NaN  1.426737e+09
2242              NaN                      NaN  1.426737e+09
2243              NaN                      NaN  1.426737e+09
2244              NaN                      NaN  1.426737e+09
2245              NaN                      NaN           NaN

      excess_mortality_cumulative_absolute  excess_mortality_cumulative  \
1674                                   NaN                          NaN
1675                                   NaN                          NaN
1676                                   NaN                          NaN
1677                                   NaN                          NaN
1678                                   NaN                          NaN
...                                    ...                          ...
2241                                   NaN                          NaN
2242                                   NaN                          NaN
2243                                   NaN                          NaN
2244                                   NaN                          NaN
2245                                   NaN                          NaN

      excess_mortality  excess_mortality_cumulative_per_million
1674               NaN                                      NaN
1675               NaN                                      NaN
1676               NaN                                      NaN
1677               NaN                                      NaN
1678               NaN                                      NaN
...                ...                                      ...
2241               NaN                                      NaN
2242               NaN                                      NaN
2243               NaN                                      NaN
2244               NaN                                      NaN
2245               NaN                                      NaN

[572 rows x 67 columns]

In [41]:
data.isnull().sum()

iso_code                                      0
continent                                   572
location                                      0
date                                          0
total_cases                                   0
                                           ...
population                                    1
excess_mortality_cumulative_absolute       2246
excess_mortality_cumulative                2246
excess_mortality                           2246
excess_mortality_cumulative_per_million    2246
Length: 67, dtype: int64

In [53]:
data['date'] = pd.to_datetime(data['date'])
print(data)

      iso_code continent     location       date  total_cases  new_cases  \
0          AFG      Asia  Afghanistan 2020-01-05            0          0
1          AFG      Asia  Afghanistan 2020-01-06            0          0
2          AFG      Asia  Afghanistan 2020-01-07            0          0
3          AFG      Asia  Afghanistan 2020-01-08            0          0
4          AFG      Asia  Afghanistan 2020-01-09            0          0
...        ...       ...          ...        ...          ...        ...
2241  OWID_AFR       NaN       Africa 2021-07-25      6511749     246602
2242  OWID_AFR       NaN       Africa 2021-07-26      6511749          0
2243  OWID_AFR       NaN       Africa 2021-07-27      6511749          0
2244  OWID_AFR       NaN       Africa 2021-07-28      6511749          0
2245  OWID_AFR       NaN       Africa 2021-07-29      6511749          0

      new_cases_smoothed  total_deaths  new_deaths  new_deaths_smoothed  ...  \
0                    NaN             0           0                  NaN  ...
1                    NaN             0           0                  NaN  ...
2                    NaN             0           0                  NaN  ...
3                    NaN             0           0                  NaN  ...
4                    NaN             0           0                  NaN  ...
...                  ...           ...         ...                  ...  ...
2241           35228.857        164544        6483              926.143  ...
2242           35228.857        164544           0              926.143  ...
2243           35228.857        164544           0              926.143  ...
2244           35228.857        164544           0              926.143  ...
2245           35228.857        164544           0              926.143  ...

      male_smokers  handwashing_facilities  hospital_beds_per_thousand  \
0              NaN                  37.746                         0.5
1              NaN                  37.746                         0.5
2              NaN                  37.746                         0.5
3              NaN                  37.746                         0.5
4              NaN                  37.746                         0.5
...            ...                     ...                         ...
2241           NaN                     NaN                         NaN
2242           NaN                     NaN                         NaN
2243           NaN                     NaN                         NaN
2244           NaN                     NaN                         NaN
2245           NaN                     NaN                         NaN

      life_expectancy  human_development_index    population  \
0               64.83                    0.511  4.112877e+07
1               64.83                    0.511  4.112877e+07
2               64.83                    0.511  4.112877e+07
3               64.83                    0.511  4.112877e+07
4               64.83                    0.511  4.112877e+07
...               ...                      ...           ...
2241              NaN                      NaN  1.426737e+09
2242              NaN                      NaN  1.426737e+09
2243              NaN                      NaN  1.426737e+09
2244              NaN                      NaN  1.426737e+09
2245              NaN                      NaN           NaN

      excess_mortality_cumulative_absolute  excess_mortality_cumulative  \
0                                      NaN                          NaN
1                                      NaN                          NaN
2                                      NaN                          NaN
3                                      NaN                          NaN
4                                      NaN                          NaN
...                                    ...                          ...
2241                                   NaN                          NaN
2242                                   NaN                          NaN
2243                                   NaN                          NaN
2244                                   NaN                          NaN
2245                                   NaN                          NaN

      excess_mortality  excess_mortality_cumulative_per_million
0                  NaN                                      NaN
1                  NaN                                      NaN
2                  NaN                                      NaN
3                  NaN                                      NaN
4                  NaN                                      NaN
...                ...                                      ...
2241               NaN                                      NaN
2242               NaN                                      NaN
2243               NaN                                      NaN
2244               NaN                                      NaN
2245               NaN                                      NaN

[2246 rows x 67 columns]